.info {
  background-color: #A9DEF9;
  color: ##5B595F;
  text-align: center;
}

h3 {
  background-color: #A9DEF9;
  color: ##5B595F;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
